In [3]:
import pandas as pd

In [9]:
df_trip = pd.read_csv("trip.csv",error_bad_lines=False)
df_weather = pd.read_csv("weather.csv")
df_stations = pd.read_csv("station.csv")
df_trip
df_weather

/home/razana888/python-fun/401-Labs/vg-stats/.venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,8/27/2016,72,66.0,61,57,54,50,81,65,46,...,29.88,29.77,10,10,10,16,9,NaN,0.00,NaN
685,8/28/2016,75,68.0,59,54,52,50,80,65,44,...,30.06,30.01,10,10,10,12,9,NaN,0.00,NaN
686,8/29/2016,81,68.0,55,55,53,50,89,65,39,...,30.02,29.95,10,10,6,9,4,NaN,0.00,NaN
687,8/30/2016,70,64.0,57,55,53,52,83,69,53,...,30.01,29.97,10,10,10,14,9,18,0.00,NaN
688,8/31/2016,71,65.0,59,61,56,52,90,77,63,...,29.97,29.96,10,10,8,14,8,NaN,0.00,Rain

# What is the average trip duration for a borrowed bicycle?

In [6]:
average_trip_duration = df_trip["tripduration"].mean()
average_trip_duration

1178.2956753399776

# What’s the most common age of a bicycle-sharer?

In [11]:
year = df_trip["birthyear"].mode()[0]
most_common_age =int(2021 - year)
most_common_age

34

# Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [12]:
def average_precipitation_per_month():
    return df_weather.groupby(pd.PeriodIndex(df_weather['Date'], freq="M"))['Precipitation_In'].mean()
average_precipitation_per_month()

Date
2014-10    0.300526
2014-11    0.141667
2014-12    0.145161
2015-01    0.070645
2015-02    0.163214
2015-03    0.135161
2015-04    0.056667
2015-05    0.014194
2015-06    0.005667
2015-07    0.008710
2015-08    0.035484
2015-09    0.041000
2015-10    0.120645
2015-11    0.234000
2015-12    0.327419
2016-01    0.216452
2016-02    0.173448
2016-03    0.178710
2016-04    0.046000
2016-05    0.010645
2016-06    0.055333
2016-07    0.015484
2016-08    0.000968
Freq: M, Name: Precipitation_In, dtype: float64

In [13]:
def median_precipitation_per_month():
    return df_weather.groupby(pd.PeriodIndex(df_weather['Date'], freq="M"))['Precipitation_In'].median()
median_precipitation_per_month()

Date
2014-10    0.140
2014-11    0.010
2014-12    0.010
2015-01    0.010
2015-02    0.025
2015-03    0.000
2015-04    0.000
2015-05    0.000
2015-06    0.000
2015-07    0.000
2015-08    0.000
2015-09    0.000
2015-10    0.010
2015-11    0.065
2015-12    0.120
2016-01    0.070
2016-02    0.080
2016-03    0.060
2016-04    0.000
2016-05    0.000
2016-06    0.000
2016-07    0.000
2016-08    0.000
Freq: M, Name: Precipitation_In, dtype: float64

# What’s the average number of bikes at a given bike station?

In [16]:
bikes_average = df_stations["install_dockcount"].mean()
bikes_average

17.586206896551722

# When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [17]:
current_bike_average = df_stations["current_dockcount"].mean()
current_bike_average

if current_bike_average < bikes_average:
    result = "you lost bikes"
else:
    result ="you gain bikes"

result

'you lost bikes'

# Come up with 3 more questions that can be answered with this data set.

### 1. what is the name of station that have CBD-03 id?

In [49]:
station_name = df_stations[df_stations["station_id"] == "CBD-03"]["name"][4]
station_name

'7th Ave & Union St'

### 2. what is the Max_Temperature_F of 8/27/2016 ?

In [56]:
max_temp = df_weather[df_weather["Date"] == "8/27/2016"]["Max_Temperature_F"][684]
max_temp

72

### 3. what is the start point for the trip that have the highest number of males ?

In [33]:
user_types = df_trip.set_index("trip_id")
gender = user_types[user_types["gender"] == "Male"].value_counts().idxmax()[4]
gender

'Harvard Ave & E Pine St'

# User Acceptance Tests

In [59]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"
    assert_equal(average_trip_duration,1178.2956753399776)
    assert_equal(most_common_age, 34)
    assert_equal(precipitation_avg, 3.1519593613933234)
    assert_equal(precipitation_median, 0.0)
    assert_equal(bikes_average,17.586206896551722)
    assert_equal(station_name, '7th Ave & Union St')
    assert_equal(result,'you lost bikes')
    assert_equal(max_temp, 72)
    assert_equal(gender,'Harvard Ave & E Pine St')

    print("Success!!!")

test()

Success!!!